body{
    background-color:#CCC;
    margin:0;
    padding:0;
    font-family:sans-serif;
}
h1{
    color:#333;
    margin:12px 24px;
    font-size:32px;
    font-weight:100;
}
.standard-form {
    width:60%;
    margin:20px 20%;
    background-color:#323255;
    padding:24px;
}
.title-form{
    margin:12px 24px;
    font-size:24px;
    font-weight:100;
    color:#FFF;
    text-align:center;
}
.img-form{
    max-width:200px;
    margin:18px auto;
}
.field {
    padding: 2px 6px;
    min-width:320px;
    font-size:18px;
    font-weight:100;
}
.btn {
    margin: 12px 0px;
    font-size:18px;
    font-weight:100;
    padding:6px 18px;
    background-color:#DDD;
    border:1px solid transparent;
    color:#333;
    cursor:pointer;
}
.btn:hover {
    border-color:#333;
    background-color:#FFF;
    color:#333;
}
.btn-valid{
    background-color:#88F;
    color:#FFF;
}
.btn-valid:hover{
    background-color:#FFF;
    color:#88F;
    border-color:#88F;
}
.info{
    color:#EEE;
    font-size:16px;
}
.info-time{
    margin:6px;
    padding:6px;
    color:#EEE;
    font-size:16px;
}